scikit-learn
matplotlib
# If you use specific versions, add them:
# tensorflow==2.10.0
# keras==2.10.0
# numpy==1.23.5
# etc.
streamlit==1.33.0
keras==2.10.0
tensorflow==2.10.0 # Or whatever version works locally
numpy==1.23.5
pandas==2.2.2
altair==5.3.0
plotly==5.21.0
