scikit-learn
matplotlib
streamlit
keras==2.10.0
tensorflow==2.10.0
numpy==1.23.5
pandas
altair
plotly
# If you use specific versions, add them:
# tensorflow==2.10.0
# keras==2.10.0
# numpy==1.23.5
# etc.
